html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h2,
h3 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
}

body {
  min-width: 1200px;
  font-family: 'font', 'sans-serif';
  background: #E5E5E5;
}

section {
  margin-bottom: 70px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
  align-items: center;
}

.header {
  margin-bottom: 45px;
  margin-top: 30px;
}

.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo {
  margin-right: 30px;
}

.header-address {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666666;
}

.login {
  color: #CC9933;
  text-decoration: none;
  background: url(../img/login.svg) no-repeat left;
  padding-left: 23px;
}

.header-navs {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  background: #FFFFFF;
  border-radius: 15px;
}

.header-list {
  display: flex;
  width: 55%;
  justify-content: space-between;

  padding: 27px 0px 27px 45px;
}

.header-nav {
  color: #666666;
}

.header-btn {
  width: 30%;
  display: inherit;
  justify-content: space-between;
  padding-right: 45px;
}
.header-btn .btn{
  padding: 13px 20px;
}

.title {
  padding-bottom: 20px;
  font-size: 40px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.nav-links {
  text-decoration: none;
}

.btn {
  color: #CC9933;
  background: #fff;
  border: 1px solid #cc9933;
  border-radius: 15px;
  padding: 13px 30px;
  cursor: pointer;
}

.two-offers .offer:nth-child(1) {
  background: url(../img/offer1.png) no-repeat, linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
}

.two-offers .offer:nth-child(2) {
  background: url(../img/offer2.png) no-repeat, linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
}

.offer-big {
  position: relative;
  background: url(../img/offer3.jpg) no-repeat, linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
  ;
  width: 573px;
  min-height: 258px;
  border-radius: 15px;
  padding-left: 45px;

}

/* 
.main {
}*/
.spec-off-flex {
  display: flex;
  justify-content: space-around;
  width: 100%;

}

.two-offers {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}

.offer {
  position: relative;
  width: 573px;
  min-height: 258px;
  border-radius: 15px;
  margin-bottom: 24px;
  padding-bottom: 40px;
  padding-left: 45px;
  padding: 40px 45px;
  padding-right: 0;
}

.offer:last-child {
  margin: 0;
}

.offer-title {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #FFFFFF;
  max-width: 420px;
  margin-bottom: 15px;
}

.offer-big .offer-title {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  padding-top: 212px;
  ;
  color: #FFFFFF;
}

.price {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.8;
  display: block;
}

.more {
  position: absolute;
  top: auto;
  bottom: 40px;
  color: #F0BF5F;
  text-decoration: none;
  background: url("../img/more.svg") no-repeat right;
  padding-right: 12px;

}

.about-us {
  max-width: 888px;
}

.text {
  margin-top: 0;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

.services {
  font-size: 0;
}

.services-flex {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.service {
  max-width: 573px;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  border-radius: 15px;
}

.service:nth-child(n+3) {
  margin-bottom: 0;
}

/* .service-img {
} */
.service-info {
  background: #fff;
  height: 165px;
  padding-top: 25px;
  padding: 25px 0 35px 45px;
  border-radius: 0 0 15px 15px;
}

.service-title {
  display: inline-block;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #CC9933;
  cursor: pointer;
  background: url("../img/more.svg") no-repeat right;
  padding-right: 15px;
}

/* .advantages {
} */
.advantage {
  max-width: 276px;
  max-height: 276px;
  padding: 40px 42px 32px 45px;
  background: #fff;
  margin: 0 22px 22px 0;
  border-radius: 15px;
}

.advantage:nth-child(n+4) {
  margin-bottom: 0;
}

/* .advantage-logo {
} */
.advantages-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -22px -22px 0;
}

/* .placements {} */

.placements-flex {
  height: 100%;
  display: flex;
  flex-wrap: wrap;

  margin: 0 -24px -24px 0;

}

.placement {
  width: 374px;
  margin: 0 24px 24px 0;
  border-radius: 15px;
  background: #fff;
}

.placement:nth-child(3n) {
  margin-right: 0;
}

.placement:nth-child(n+6) {
  margin-bottom: 0;
}

.placement-info {
  position: relative;
  padding: 32px 45px 45px 45px;
  max-height: 440px;
}

/* .placement-img {
} */
.placement-price {
  color: #999999
}

.count {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.night {
  color: #000000;

}

.stars {
  position: absolute;
  display: inline-block;
  right: 45px;
}

.placement-name {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.placement-disc {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.all-var {
  width: 374px;
  height: 440px;
  background: url("../img/13.png") no-repeat;
  border-radius: 15px;
}

.see-all {
  display: inline-block;
  margin-top: 100%;
  text-align: center;
  text-decoration: none;
  background: url("../img/w-more.svg") no-repeat right;
  padding-right: 15px;
  margin-bottom: 0;
  margin-left: 20%;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #FFF;
}
.form{
  position: relative;
  background: #FFF;
  border-radius: 15px;
  padding: 32px 28px;
}
.form label{
  position: absolute;
  top: 15px;
}
.form select{
  width: 169px;
  -webkit-appearance: none;
  border: 0px;
  outline: 0px;
  padding: 5px;
  padding-right: 40px;
  overflow: hidden;
  background: url('../img/Rectangle.svg') no-repeat right;
  margin-right: 40px;
}
.form input{
  width: 100px;
  border: none;
  border-bottom: 1px solid #E9E9E9;
  margin-right: 40px;
}
.form input:first-child{
  border: none;
}


 .want {
  background: #E9E9E9;
  border-radius: 15px;
  padding: 40px;
}
.not-flex{
  display: inline;
}

.contacts {
  background: #FFFFFF;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  padding: 45px;
}
.contacts-contact {
  width: 35%;
}
.contact {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E9E9E9;
  margin-bottom: 25px;
}
.contact-title {
  display: inline-block;
  width: 100px;
}
.contact p{
  max-width: 229px;
}
.con{
  display: inline-block;
  text-align: left;
  width: calc(100% - 150px);
}
.con ul {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width:45%;
}
.tel {
  font-family: 'Muller';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #CC9933;
text-decoration: none;
}
.tel ul,.email ul,.social-net ul{
  list-style: none;
  padding: 0;
}
.email{
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #CC9933;
  text-decoration: none;
}

.contact-text {
  font-family: 'Muller';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
color: #999;
}
/* .contacts-img {
} */
.footer {
  display: flex;
  justify-content: space-between;
  height: 341px;
  background: url("../img/dermo.svg") #333 no-repeat 75% 100%;
  border-radius: 15px;
  color: #fff;
  margin-bottom: 30px;
  padding: 45px;
}
.footer-dic {
  width: 300px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
}
.footer-dic a{
  color: #CC9933;
  text-decoration: none;
}
.footer-dic p{
  margin-top: 0;
  margin-bottom: 37px;
}
/* .footer-contacts {
} */
.social-net ul li{
  margin-bottom: 20px;
}
